.background_couleur_base{
    z-index: 910; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #CCCA; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

html, body{
    padding:0;
    margin: 0;
    font-size: medium;
}

@media only screen and (max-device-width: 500px) {
    body{
        font-size: x-large;
    }
}

* {
    z-index: 950;
    position: relative;
    border: 0px solid black;
}

.background-image{
    z-index: 900;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../res/images/programmeTIM.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

h1, h2, h3{
    text-align: center;
}

h1{
    scroll-margin-top: 10em;
}

em {
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

header{
    z-index: 960;
    background-color: rgb(111, 199, 140);
    box-shadow: 0 0.1em1em #00000088;
    position: sticky;
    top: 0;
    max-height: 10em;
}

header.petit{
    font-size: 0.75em;
    transition: all 0.5s;
}

header.grand{
    font-size: 1em;
    transition: all 0.5s;
}

.header_contenu{
    padding-left:3em;
    padding-right:3em;
    padding-top:3em;
    padding-bottom:1em; 
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.header_gauche{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: auto;
}

.header_bouton{
    font-size: 1.2em;
    height: min-content;
    padding: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #0000;
    border-width: 0;
    cursor: default;
    box-shadow:0em0em rgb(82, 177, 231);
}

@keyframes header_bouton_hover{
    from {
        box-shadow:0em0em rgb(82, 177, 231);
    }
    to {
        box-shadow:0em 0.5em rgb(82, 177, 231);
    }
}

.header_bouton:hover{
    cursor: pointer;
    box-shadow:0em 0.5em rgb(82, 177, 231);
    animation: header_bouton_hover 100ms ease 0 1;
    -webkit-animation: header_bouton_hover 100ms ease 0 1;
}

.header_navbar{
    padding-left:1em;
    padding-right:1em; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(111, 199, 140);
    display: flex; 
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

@media only screen and (orientation:landscape) {
    .header_navbar{
        display: none;
    }
}

.header_navbar_bouton{
    padding:1em;
    color:#000;
    background-color: #0000;
    text-decoration: none;
    white-space: nowrap;
}

.header_navbar p {
    white-space: nowrap;
}

.header_navbar_bouton:hover{
    padding:1em;
    color:#000;
    background-color: #FFF5;
    text-decoration: none;
    white-space: nowrap;
}

.header_séparateur{
    background-color: rgb(35, 18, 128); 
    height: 0.4em; 
    width: 100%
}

.bouton_haut{
    z-index: 960;
    position: fixed;
    bottom:5em;
    right:5em;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.5em;
    color: white;
    background-color: rgb(82, 177, 231);
    border-width: 0;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.bouton_haut:hover{
    cursor: pointer;
    background-color: rgb(51, 107, 190);
}

@media only screen and (orientation:landscape) {
    .corp{
        display: grid; 
        grid-template-columns: 12.5% 75% 12.5%;
    }
}

@media only screen and (orientation:portrait){
    .corp{
        display: flex;
        flex-direction: column;
    }
}

.menu_cadre{
    display: flex; 
    flex-direction: column; 
    padding:1em; 
    margin:1em; 
    position: sticky; 
    top: 10em; 
    align-self: self-start; 
    background-color: rgb(238, 238, 238); 
    border-radius:1em; 
    border: 1px solid #afafaf; 
    box-shadow: 0 02em #0002;
}

@media only screen and (orientation:portrait){
    .menu_cadre{
        display: none;
    }
}

.menu_bouton{
    font-size:1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(51, 107, 190);
    font-weight: bold;
    padding: 0.5em;
    margin:0.2em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    object-fit: cover;
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    background-size: 200%;
    background-position: 100%;
    border: 0.2em solid rgb(82, 177, 231);
}

@keyframes menu_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5em;
    }
    to{
        background-position: 0%;
        padding: 0.55em;
    }
}

.menu_bouton:hover{
    cursor: pointer;
    background-position: 0%;
    padding: 0.55em;
    animation: menu_bouton_hover 0.5s ease-out 0s 1;
    -webkit-animation: menu_bouton_hover 0.5s ease-out 0s 1;
}

main{
    padding :3em;
}

.bloc_cadre{
    padding:2em;
    margin-bottom:5em;
    border: 2px solid #0001;
    box-shadow:1em1em 10em #0001;
    border-radius:1em;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    -ms-border-radius:1em;
    -o-border-radius:1em;
}

@media only screen and (orientation:landscape){
    .bloc_contenu{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (orientation:portrait){
    .bloc_contenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

video, .img_c{
    box-shadow: 1.5em 1.5em rgb(82, 177, 231);
    max-width: 100%;
    max-height: 100%;
}

.main_bouton{
    font-size: 1.7em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(51, 107, 190);
    font-weight: bold;
    padding: 0.5em;
    margin: 1.0em;
    max-width: max-content;
    border-radius:4em;
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    -ms-border-radius:4em;
    -o-border-radius:4em;
    object-fit: cover;
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    background-size: 200%;
    background-position: 100%;
    border: 0.7em solid rgb(82, 177, 231);
    box-shadow: 25px 25px #0000001e;
    white-space: nowrap;
}

@keyframes main_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5em;
        box-shadow: 25px 25px #0000001e;
    }
    to{
        background-position: 0%;
        padding: 0.55em;
        box-shadow: 10px 10px #0000001e;
    }
}

.main_bouton:hover{
    cursor: pointer;
    background-position: 0%;
    padding: 0.55em;
    box-shadow: 10px 10px #0000001e;
    animation: main_bouton_hover 0.5s ease-out 0s 1;
    -webkit-animation: main_bouton_hover 0.5s ease-out 0s 1;
}

@media only screen and (orientation:landscape){
    .contenu_média{
        width: 50%; 
        max-width: 35em;
    }
}

@media only screen and (orientation:portrait){
    .contenu_média{
        width: 100%; 
        max-width: 35em;
        margin:1em;
    }
}

.contenu_texte{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 50%;
}

p, li{
    text-align: justify; 
    margin:1em; 
    font-size: 1.25em;
}

table{
    padding:0;
    margin: 0;
    border-collapse: collapse;
    width: 75%;
    box-shadow:1em1em #4583c971;
}

td{
    padding:1em;
    border: 1px solid rgb(82, 177, 231);
    margin: 0;
    background-color: #0000;
    font-weight: bold;
}

@media only screen and (max-device-width: 500px) {
    td{
        border-width: 2px;
    }
}

td div{
    display: flex;
    align-items: center;
    width: 100%;
}

td div div{
    width:5em;
}

td div p{
    text-align: center;
    width: 100%;
    font-size:1em;
}

td:hover{
    background-color: #DDDD;
}

.icône{
    width:2em;
}

.icône img{
    vertical-align: bottom;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.bloc_fermable_bouton{
    margin:1em;
    font-size:2em;
    font-weight: bold;
    min-width: 2em;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius:0.6em;
    -webkit-border-radius:0.6em;
    -moz-border-radius:0.6em;
    -ms-border-radius:0.6em;
    -o-border-radius:0.6em;
    border: 0.3em solid rgb(82, 177, 231);
    color:rgb(51, 107, 190);
    background-color: #0000;
}

.bloc_fermable_bouton:hover{
    cursor: pointer;
    background-color: rgb(168, 212, 230);
}

input, textarea{
    margin:0.25em;
    font-size: 1.5em;
    max-width:100%;
    max-height:100%;
    min-width: 0;
    padding: 0.5em;
    min-height:1em;
    border-width: 0;
    border-radius: 15px;
}

textarea{
    resize: none;
}