.background_couleur_base{
    z-index: 910; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #CCCA; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}

html, body{
    padding:0;
    margin: 0;
    scroll-snap-type: y mandatory;
}

* {
    z-index: 950;
    position: relative;
}

.background-image{
    z-index: 900;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../res/images/programmeTIM.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

h1, h2, h3{
    text-align: center;
}

h1{
    scroll-margin-top: 10rem;
}

em {
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header{
    z-index: 960;
    background-color: rgb(111, 199, 140);
    box-shadow: 0 0.1rem 1rem #00000088;
    position: sticky;
    top: 0;
}

.header_contenu{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem; 
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.header_gauche{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: auto;
}

.header_bouton{
    font-size: 1.2rem;
    height: min-content;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #0000;
    border-width: 0;
    cursor: default;
    box-shadow: 0em 0em rgb(82, 177, 231);
}

@keyframes header_bouton_hover{
    from {
        box-shadow: 0em 0em rgb(82, 177, 231);
    }
    to {
        box-shadow: 0em 0.5em rgb(82, 177, 231);
    }
}

.header_bouton:hover{
    cursor: pointer;
    box-shadow: 0em 0.5em rgb(82, 177, 231);
    animation: header_bouton_hover 100ms ease 0 1;
    -webkit-animation: header_bouton_hover 100ms ease 0 1;
}

.header_navbar{
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(111, 199, 140);
    display: flex; 
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

@media only screen and (orientation:landscape) {
    .header_navbar{
        display: none;
    }
}

.header_navbar_bouton{
    padding:1rem;
    color:#000;
    background-color: #0000;
    text-decoration: none;
    white-space: nowrap;
}

.header_navbar p {
    white-space: nowrap;
}

.header_navbar_bouton:hover{
    padding:1rem;
    color:#000;
    background-color: #FFF5;
    text-decoration: none;
    white-space: nowrap;
}

.header_séparateur{
    background-color: rgb(35, 18, 128); 
    height: 0.4rem; 
    width: 100%
}

.bouton_haut{
    z-index: 960;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(82, 177, 231);
    border-width: 0;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 0 1rem #0003;
}

.bouton_haut:hover{
    cursor: pointer;
    background-color: rgb(51, 107, 190);
}

@media only screen and (orientation:landscape) {
    .corp{
        display: grid; 
        grid-template-columns: 15rem 75% 12.5%;
    }
}

@media only screen and (orientation:portrait){
    .corp{
        display: flex;
        flex-direction: column;
    }
}

.menu_cadre{
    display: flex; 
    flex-direction: column; 
    padding: 1rem; 
    margin: 1rem; 
    position: sticky; 
    top: 8rem; 
    align-self: self-start; 
    background-color: rgb(238, 238, 238); 
    border-radius: 1rem; 
    border: 1px solid #afafaf; 
    box-shadow: 0 0 2rem #0002;
}

@media only screen and (orientation:portrait){
    .menu_cadre{
        display: none;
    }
}

.menu_bouton{
    font-size: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(51, 107, 190);
    font-weight: bold;
    padding: 0.5rem;
    margin:0.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    object-fit: cover;
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    background-size: 200%;
    background-position: 100%;
    border: 0.2rem solid rgb(82, 177, 231);
}

@keyframes menu_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5rem;
    }
    to{
        background-position: 0%;
        padding: 0.55rem;
    }
}

.menu_bouton:hover{
    cursor: pointer;
    background-position: 0%;
    padding: 0.55rem;
    animation: menu_bouton_hover 0.5s ease-out 0s 1;
    -webkit-animation: menu_bouton_hover 0.5s ease-out 0s 1;
}

main{
    padding : 3rem;
}

.bloc_cadre{
    padding: 2rem;
    margin-bottom:5rem;
    border: 2px solid #0001;
    box-shadow: 1rem 1rem 10rem #0001;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media only screen and (orientation:landscape){
    .bloc_contenu{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (orientation:portrait){
    .bloc_contenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

video, .img_c{
    box-shadow: 1rem 1rem rgb(82, 177, 231);
    max-width: 100%;
    max-height: 100%;
}

.main_bouton{
    font-size: 1.7rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(51, 107, 190);
    font-weight: bold;
    padding: 0.5rem;
    max-width: max-content;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    object-fit: cover;
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    background-size: 200%;
    background-position: 100%;
    border: 0.4rem solid rgb(82, 177, 231);
    box-shadow: 0.5rem 0.5rem #0000001e;
}

@keyframes main_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5rem;
        box-shadow: 0.5rem 0.5rem #0000001e;
    }
    to{
        background-position: 0%;
        padding: 0.55rem;
        box-shadow: 0.2rem 0.2rem #0000001e;
    }
}

.main_bouton:hover{
    cursor: pointer;
    background-position: 0%;
    padding: 0.55rem;
    box-shadow: 0.2rem 0.2rem #0000001e;
    animation: main_bouton_hover 0.5s ease-out 0s 1;
    -webkit-animation: main_bouton_hover 0.5s ease-out 0s 1;
}

@media only screen and (orientation:landscape){
    .contenu_média{
        width: 50%; 
        max-width: 35rem;
    }
}

@media only screen and (orientation:portrait){
    .contenu_média{
        width: 100%; 
        max-width: 35rem;
        margin: 1rem;
    }
}

.contenu_texte{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 50%;
}

p, li{
    text-align: justify; 
    margin: 1rem; 
    font-size: 1.25rem;
}

table{
    padding:0;
    margin: 0;
    border-collapse: collapse;
    width: 75%;
    box-shadow: 1rem 1rem #4583c971;
}

td{
    padding: 1rem;
    border: 1px solid rgb(82, 177, 231);
    margin: 0;
    text-align: center;
    background-color: #0000;
    font-weight: bold;
}

td:hover{
    background-color: #DDDD;
}

.icône{
    width: 2rem;
}

.icône img{
    vertical-align: bottom;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.bloc_fermable_bouton{
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: bold;
    width:  3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 0.5rem solid rgb(82, 177, 231);
    color:rgb(51, 107, 190);
    background-color: #0000;
}

.bloc_fermable_bouton:hover{
    cursor: pointer;
    background-color: rgb(168, 212, 230);
}