p, li, h1, h2, h3, td{
    color:rgb(144, 190, 216)
}

a{
    color:#DDD;
}

a:hover{
    color:#89dfcc;
}

a:visited{
    color: rgb(51, 107, 190);
}

.background_couleur_base{
    background-color: rgba(44, 44, 44, 0.667); 
}

header{
    background-color: rgb(39, 82, 53);
    box-shadow: 0 0.1rem 1rem #00000088;
}

footer{
    background-color: rgb(39, 82, 53);
}

.header_bouton{
    background-color: #0000;
    color:white;
}

@keyframes header_bouton_hover{
    from {
        box-shadow: 0rem 0rem rgb(82, 177, 231);
    }
    to {
        box-shadow: 0rem 0.5rem rgb(82, 177, 231);
    }
}

.header_bouton:hover{
    box-shadow: 0rem 0.5rem rgb(82, 177, 231);
}

.header_navbar{
    background-color: rgb(39, 82, 53);
}

.header_séparateur{
    background-color: rgb(22, 20, 37); 
}

.bouton_haut{
    color: white;
    background-color: rgb(51, 107, 190);
    box-shadow: 0 0 1rem #0003;
}

.bouton_haut:hover{
    background-color: rgb(82, 177, 231);
}

main{
    background-color: rgb(39, 39, 39);
}

.menu_cadre{
    background-color: rgb(39, 39, 39); 
    border: 1px solid #181818; 
    box-shadow: 0 0 2rem #0002;
}

.menu_bouton{
    color: rgb(82, 177, 231);
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(51,107,190) 50%, #0000 50%);
    border: 0.2rem solid rgb(30, 72, 134);
}

.bloc_cadre{
    border: 2px solid #0001;
    box-shadow: 1rem 1rem 10rem #FFF1;
}

video, .img_c{
    box-shadow: 1rem 1rem rgb(51, 107, 190);
}

.main_bouton{
    color: rgb(82, 177, 231);
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(51,107,190) 50%, #0000 50%);
    border: 0.75rem solid rgb(30, 72, 134);
    box-shadow: 1rem 1rem rgb(51,107,190);
}

@keyframes main_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5rem;
        box-shadow: 1rem 1rem rgb(51,107,190);
    }
    to{
        background-position: 0%;
        padding: 0.55rem;
        box-shadow: 0.2rem 0.2rem rgb(51,107,190);
    }
}

.main_bouton:hover{
    box-shadow: 0.2rem 0.2rem rgb(51,107,190);
}

table{
    box-shadow: 1rem 1rem #4583c971;
}

td{
    border: 1px solid rgb(82, 177, 231);
    background-color: #0000;
}

td:hover{
    background-color: rgb(63, 63, 63);
}

footer a, footer p{
    margin: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover{
    color:#89dfcc;
    text-decoration: underline;
}

footer a:visited{
    color:#AAA;
    text-decoration: underline;
}

.bloc_fermable_bouton{
    border: 0.5rrem solid rgb(30, 72, 134);
    color:rgb(82, 177, 231);
}

.bloc_fermable_bouton:hover{
    background-color: rgb(51, 107, 190);
}