.background_couleur_base{
    background-color: rgba(255, 255, 255, 0.667);
}

header{
    background-color: rgb(111, 199, 140);
    box-shadow: 0 0.1em 1em #00000088;
}

footer{
    background-color: rgb(111, 199, 140);
}

.header_bouton{
    background-color: #0000;
}

@keyframes header_bouton_hover{
    from {
        box-shadow:0em 0em rgb(82, 177, 231);
    }
    to {
        box-shadow:0em 0.5em rgb(82, 177, 231);
    }
}

.header_bouton:hover{
    box-shadow:0em 0.5em rgb(82, 177, 231);
    animation: header_bouton_hover 0.5s ease-out 0s 1;
    -webkit-animation: header_bouton_hover 0.5s ease-out 0s 1;
}

.header_navbar{
    background-color: rgb(111, 199, 140);
}

.header_séparateur{
    background-color: rgb(35, 18, 128); 
}

.bouton_haut{
    color: white;
    background-color: rgb(82, 177, 231);
    box-shadow: 0 0 1em #0003;
}

.bouton_haut:hover{
    background-color: rgb(51, 107, 190);
}

.menu_cadre{
    background-color: rgb(255, 255, 255); 
    border-color: #afafaf; 
    box-shadow: 0 0 2em #0002;
}

.menu_bouton{
    color: rgb(51, 107, 190);
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    border-color: rgb(82, 177, 231);
}

main{
    background-color: #ffffff;
}

.bloc_cadre{
    border-color: #0001;
    box-shadow:1em 1em 10em #0001;
}

.bloc_cadre.coulB{
    background-color: rgb(129, 212, 156);
}

.bloc_cadre.coulC{
    background-color: rgb(240, 220, 132);
}

video, .img_c{
    box-shadow:1em 1em rgb(82, 177, 231);
}

.main_bouton{
    color: rgb(51, 107, 190);
    background-color: #0000;
    background-image: linear-gradient(to right,rgb(168, 212, 230) 50%, #0000 50%);
    
    border-color: rgb(82, 177, 231);
    box-shadow: 20px 20px #0000001e;
}

@keyframes main_bouton_hover {
    from{
        background-position: 100%;
        padding: 0.5em;
        box-shadow: 20px 20px #0000001e;
    }
    to{
        background-position: 0%;
        padding: 0.55em;
        box-shadow: 5px 5px #0000001e;
    }
}

.main_bouton:hover{
    box-shadow: 5px 5px #0000001e;
}

table{
    box-shadow:1em 1em #4583c971;
}

td{
    border-color: rgb(82, 177, 231);
    background-color: #0000;
}

td:hover{
    background-color: #DDDD;
}

footer a, footer p{
    margin:1em;
    text-decoration: none;
    font-size:1em;
}

footer a:hover{
    text-decoration: underline;
}

footer a:visited{
    text-decoration: underline;
}

.bloc_fermable_bouton{
    border-color: rgb(82, 177, 231);
    color:rgb(51, 107, 190);
}

.bloc_fermable_bouton:hover{
    background-color: rgb(168, 212, 230);
}